*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #EBE3CE;
}
/* .header{
    background-color: black;
    height: 50px;
    margin: 20px 15px 0px 15px;
    border-radius: 30px;
}
.navbar{
    width: 60%;
    float: left;
    margin-top: 15px;
}
.navbar li{
    color: white;
    list-style: none;
    display: inline-block;
    width: 20%;
}
.navbar li:hover{
    color: blue;
}
.image{
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.image img{
    height: 30px;
}
.anchor{
    width: 10%;
    float: left;
    margin-top: 15px;
}
.anchor a{
    color: green;
} */
 .header{
    display: flex;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    background-color: black;
    margin: 20px 20px 0px 20px;
 }
 .image{
    width: 25%;
    margin-top: 10px;
 }
 .image img{
    height: 30px;
 }
 .navbar{
    width: 60%;
 }
 .navbar li{
    display: inline-block;
    list-style: none;
    width: 20%;
    margin-top: 15px;
    color: white;
 }
 .anchor{
    width: 10%;
    margin-top: 15px;
 }
 .anchor a{
    color: green;
 }
/* .containerone{
    height: 600px;
}
.lamp{
    float: right;
    width: 50%;
    height: 600px;
}
.text{
    float: left;
    width: 50%;
    height: 600px;
}
.lamp img{
    width: 100%;
    height: 100%;
}
.left{
    width: 100%;
    height: 60%;
}
.left h1{
    font-size: 80px;
    width: 80%;
    margin-left: 40px;
    padding-top: 60px;
}
.left h3{
    font-size: 33px;
    width: 80%;
    margin-left: 40px;
    margin-top: 10px;
}
.left p{
    width: 80%;
    margin-left: 40px;
    margin-top: 10px;
}
.left-2{
    height: 40%;
    width: 100%;
}
.button{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 20px;   
}
.button-1{
    background-color: orange;
    color: white;
    margin-top: 10px;
}
.button button{
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    color: black;
}
.button button:hover{
    background-color: orange;
    color: white;
}
.pot{
    float: right;
    width: 50%;
    height: 100%;
}
.pot img{
    height: 240px;
    float: right;
} */
.anchor-2{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.anchor-2 a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
/* .containertwo{
    background-color: white;
    height: 150px;
    width: 80%;
    border-radius: 20px;
    margin: auto;
}
.input-1{
    width: 15%;
    height: 90%;
    padding-top: 30px;
    padding-left: 20px;
    float: left;
}
.input-1 input{
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #EBE3CE;
}
.input-2{
    float: left;
    width: 15%;
    height: 90%;
    padding-top: 30px;
    padding-left: 20px;
    
}
.input-2 input{
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #EBE3CE;
}
.input-3{
    float: left;
    width: 35%;
    height: 90%;
    padding-top: 30px;
    padding-left: 20px;
    
}
.input-3 input{
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #EBE3CE;
}
.button-2{
    float: left;
    height: 90%;
    width: 15%;
    padding-top: 50px;
    padding-left: 20px;

}
.button-2 button{
    padding: 15px;
    background-color: #6AB99C;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    
} */
.containerone{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #EBE3CE;
}
.left{
    width: 40%;
}
.left h1{
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.left h3{
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}
.left p{
    margin-left: 20px;
    margin-bottom: 10px;
}
.left button{
    padding: 10px 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.left-2{
    width: 60%;
}
.left-2 img{
    width: 90%;
    height: 100%;
}
.img{
    height: 200px;
}
.img img{
    float: right;
    height: 100%;

}
    .one{
        background-color: orange;
}
 .containertwo{
    display: flex;
    height: 150px;
    background-color: white;
    margin: 10px 20px 20px 20px;
    border-radius: 20px;
 }
 .input-1{
    width: 15%;
    margin-top: 40px;
    margin-left: 20px;
 }
 .input-1 input{
    background-color: #EBE3CE;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 5px;
 }
 .input-2{
    width: 15%;
    margin-top: 40px;
    margin-left: 20px;
 }
 .input-2 input{
    background-color: #EBE3CE;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 5px;
 }
 .input-3{
    width: 35%;
    margin-top: 40px;
    margin-left: 20px;
 }
 .input-3 input{
    background-color: #EBE3CE;
    border-radius: 15px;
    height: 20px;
    border: 1px solid #ccc;
    padding: 5px;
 }
 .button-2{
    width: 15%;
    margin-top: 50px;
    margin-left: 20px;
 }
 .button-2 button{
    background-color: #6AB99C;
    border-radius: 15px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #ccc;
 }
 /* .containerthree{
    width: 50%;
    margin: auto;
    text-align: center;
    height: 200px;
} 
.containerthree h4{
    color: #ECA83D;
    padding-top: 100px;
    font-size: 20px;
}
.containerthree h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;

 } */
  .containerthree{
    display: flex;
    justify-content: center;
    height: 200px; 
  }
  .containerthree-1 h4{
    color: #ECA83D;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  .containerthree-1 h1{
    font-size: 50px;
  }
.containerfour{
    display: flex;
    justify-content: space-evenly;
    height: 350px;
}
.four-1{
    height: 350px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}
.four-2{
    height: 350px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    
}
.four-3{
    height: 350px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}
.four-1 img{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.four-2 img{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.four-3 img{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.four-1 h1{
    text-align: center;
}
.four-2 h1{
    text-align: center;
}
.four-3 h1{
    text-align: center;
}
.four-1 p{
    text-align: center;
    margin: 10px;
}
.four-2 p{
    text-align: center;
    margin: 10px;
}
.four-3 p{
    text-align: center;
    margin: 10px;
}
.four-1 button{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #D25E25;
    color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.four-2 button{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #D25E25;
    color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.four-3 button{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #D25E25;
    color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.containerfive{
    display: flex;
    justify-content: space-between;
    height: 350px;
}
.five-2{
    height: 90%;
    width: 30%;
}
.five-2 h3{
    color: green;
    padding-top: 100px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.five-2 h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.five-2 button{
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: green;
    color: white;
    display: block;
    margin: auto;
    
}
.five-1{
    height: 90%;
    width: 35%;
}
.five-1 img{
    height: 250px;
    margin-top: 50px;
}
.five-3{
    height: 90%;
    width: 35%;
}
.five-3 img{
    height: 250px;
    margin-top: 50px;
    float: right;
}
.containersix{
    width: 80%;
    margin: auto;
    height: 315px;
    background-color: white;
}
.six-1{
    width: 40%;
    height: 100%;
    float: left;
}
.six-1 h3{
    color: #6AB99C;
    margin-top: 20px;
    margin-left: 20px;
}
.six-1 h1{
    margin-left: 20px;
}
.six-1 p{
    margin-top: 20px;
    margin-left: 20px;
}
.six-1 button{
    padding: 10px;
    background-color: #D25E25;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.six-2{
    width: 60%;
    height: 100%;
    float: left;
}
.six-2 img{
    width: 100%;
    height: 100%;
}
.containerseven{
    width: 50%;
    margin: auto;
    text-align: center;
    height: 200px;
}
.containerseven h3{
    padding-top: 50px;
    color: #D25E25;
    font-size: 20px;
}
.containerseven h1{
    font-size: 45px;
}
.containereight{
    display: flex;
    justify-content: space-around;
    height: 300px;
}
.eight-1{
    width: 40%;
    display: flex;
    height: 80%;
    background-color: white;
    margin-left: 20px;
    border-radius: 30px;
}
.eight-1-1{
    width: 40%;
    height: 100%;
}
.eight-1-1 img{
    display: block;
    margin: auto;
    margin-top: 50px;
}
.eight-1-2{
    width: 60%;
}

/* .eight-1-2-2{
    width: 30%;
    height: 40px;
    float: left;
    padding-top: 30px;
} */
/* .eight-1-2 img{
    margin-top: 10px;
} */
.eight-2{
    display: flex;
    width: 40%;
    height: 80%;
    background-color: white;
    margin-right: 20px;
    border-radius: 30px;
}
.eight-2-1{
    width: 40%;
    height: 100%;
}
.eight-2-1 img{
    display: block;
    margin: auto;
    margin-top: 50px;
}
.eight-1-2 h1{
    margin-top: 60px;
    margin-bottom: 5px;
}
.eight-1-2 p{
    margin-right: 10px;
    margin-bottom: 0px;
}
.eight-2-2{
    width: 60%;
}
.eight-2-2 h1{
    margin-top: 60px;
    margin-bottom: 10px;
}
.eight-2-2 p{
    margin-right: 10px;
    margin-bottom: 0px;
}
/* .eight-2-2-2{
    width: 30%;
    height: 40px;
    float: left;
    padding-top: 30px;
}
.eight-2-2 img{
    margin-top: 10px;
} */
.containernine{
    display: flex;
    height: 400px;
}
.nine-1{
    width: 30%;
    height: 80%;
}
.nine-1 img{
    height: 100%;
    float: right;
}
.nine-2{
    width: 35%;
    height: 90%;
}
.nine-2 img{
    height: 100%;
    width: 100%;
}
.nine-3{
    width: 20%;
    height: 80%;
}
.nine-3 img{
    float: left;
    height: 100%;
}
.containerten{
    display: flex;
    height: 500px;
}
.ten-1{
    width: 40%;
    height: 100%;
    
}
.ten-1 h3{
    color: orange;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}
.ten-1 h1{
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}
.ten-1 p{
    padding-bottom: 30px;
    width: 50%;
    margin: auto;
}
.ten-1 button{
    padding: 10px 20px;
    background-color: #D25E25;
    color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 150px;
}
.ten-2{
    width: 60%;
    height: 80%;
}
.ten-2 img{
    width: 70%;
    height: 100%;
}
.containereleven{
    display: flex;
    height: 600px;
}
.eleven-1{
    width: 60%;
    height: 80%;
}
.eleven-1 img{
    height: 500px;
}
.eleven-2{
    width: 40%;
    height: 80%;
}
.eleven-2 h3{
    width: 50%;
    margin-bottom: 10px;
    color: orange;
    padding-top: 150px;
}
.eleven-2 h1{
    margin-bottom: 10px;
}
.eleven-2 p{
    width: 50%;
    margin-bottom: 20px;
}
.eleven-2 button{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.containertwelve{
    margin: auto;
    width: 40%;
    height: 240px;
    background-color: white;
    border-radius: 30px;
    
}
.twelve-1-1{
    width: 40%;
    float: left;
    height: 100%;
}
.twelve-1-1 img{
    display: block;
    margin: auto;
    margin-top: 50px;
}
.twelve-1-2{
    width: 60%;
    float: left;
}
.twelve-1-2 h1{
    margin-top: 60px;
    margin-bottom: 10px;
}
.twelve-1-2 p{
    margin-right: 10px;
    margin-bottom: 5px;
}

.twelve-1-2-2{
    width: 30%;
    height: 40px;
    float: left;
    padding-top: 30px;
}
.eight-1-2 img{
    margin-top: 10px;
}
.bg img{
    height: 100%;
    width: 100%;
}
/* .containerthirteen{
    width: 100%;
    height: 250px;
}
.thirteen-1{
    width: 25%;
    height: 230px;
    float: left;
}
.thirteen-1 img{
    height: 200px;
    width: 200px;
}
.thirteen-2{
    width: 50%;
    height: 230px;
    float: left;
    text-align: center;
}
.thirteen-2 h3{
    color: orange;
    padding-top: 50px;
}
.thirteen-3{
    width: 25%;
    height: 280px;
    float: left;
}
.thirteen-3 img{
    width: 200px;
    height: 200px;
} */
 .containerthirteen{
    display: flex;
    flex-direction: column;
    height: 370px;
    text-align: center;
    margin-top: 100px;
    background-image: url(New\ Project.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }
 .thirteen-1 h3{
    color: orange;
    margin-bottom: 10px;
    font-size: 25px;
 }
 .thirteen-1 h1{
    margin-bottom: 20px;
    font-size: 45px;
 }
 .thirteen-2{
    width: 50%;
    margin: auto;
 }
 .thirteen-2 input{
    display: block;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #D0C2a3;
 }
 .height{
    height: 80px;
 }
 .thirteen-2 button{
    padding: 10px 20px;
    background-color: #5BBB9C;
    color: black;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
 }
 .footer{
    width: 90%;
    height: 500px;
    background-color: orange;
    margin: auto;
    border-radius: 10px;
 }
 .footerblock{
    display: flex;
    padding-top: 100px;
 }
 .block-1{
    width: 25%;
    height: 100%;
 }
 .block-1 h1{
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
 }
 .block-1 li{
    list-style: none;
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
 }
 .block-2{
    width: 25%;
    height: 100%;
 }
 .block-2 h1{
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
 }
 .block-2 li{
    list-style: none;
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
 }
 .block-3{
    width: 40%;
    height: 100%;
 }
 .block-3 h1{
    color: white;
    width: 100%;
    float: right;
    margin-right: 20px;
    text-align-last: right;
 }
 .block-3 input{
    width: 80%;
    display: block;
    float: right;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: orange;
 }
 .input{
    height: 40px;
 }
 .block-3-1{
    float: right;
    width: 100%;
 }
 @media screen and (min-width: 100px) and (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
    }
    .header{
        flex-direction: column;
        height: 300px;
        background-color: black;
        width: 100%;
    }
    .navbar li{
        display: block;
    }
    .containerone{
        flex-direction: column;
        height: 1000px;
    }
    .left{
        width: 100%;
    }
    .img{
        width: 50%;
        margin: auto;
    }
    .left-2{
        width: 100%;
    }
    .left-2 img{
        width: 100%;
    }
    .containertwo{
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: space-between;
    }
    .input-1{
        width: 12%;
        margin-left: 0%;
    }
    .input-1 input{
        width: 100%;
    }
    .input-2{
        width: 12%;
        margin-left: 20px;
    }
    .input-2 input{
        width: 100%;
    }
    .input-3{
        width: 30%;
        margin-left: 20px;
    }
    .input-3 input{
        width: 100%;
    }
    .button-2{
        width: 12%;
        margin-left: 20px;
    }
    .button-2 button{
        width: 100%;
        font-size: xx-small;
    }
    .containerfour{
        display: flex;
        justify-content: space-evenly;
    }
    .four-1{
        width: 30%;
    }
    .four-1 img{
        margin-top: 0;
    }
    .four-2{
        width: 30%;
    }
    .four-2 img{
        margin-top: 0;
    }
    .four-3{
        width: 30%;
    }
    .four-3 img{
        margin-top: 5px;
    }
    .containerfive{
        display: flex;
        width: 100%;
        box-shadow: 2px 2px 2px 10px black;
    }
    .five-1{
        width: 30%;
    }
    .five-1 img{
        width: 100%;
    }
    .five-2{
        width: 35%;
    }
    .five-2 h3{
        padding-top: 130px;
        font-size: 20px;
    }
    .five-2 h1{
        font-size: 20px;
    }

    .five-3{
        width: 30%;
    }
    .five-3 img{
        width: 100%;
    }
    .containernine{
        display: flex;
        width: 100%;
    }
    .nine-1{
        width: 30%;
    }
    .nine-1 img{
        width: 100%;
    }
    .nine-2{
        width: 40%;
    }
    .nine-2 img{
        width: 100%;
        height: 100%;
    }
    .nine-3{
        width: 30%;
    }
    .nine-3 img{
        width: 100%;
    }
    .containerten{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
    }
    .ten-1{
        width: 100%;
        height: 30%;
    }
    .ten-1 h3{
        width: 80%;
        margin: auto;
    }
    .ten-1 h1{
        width: 80%;
        margin: auto;
    }
    .ten-1 button{
        margin-left: 50px;
    }
    .ten-1 p{
        width: 80%;
        margin: auto;
    }
    .ten-2{
        width: 100%;
        height: 50%;
    }
    .ten-2 img{
        width: 100%;
        height: 100%;
    }
    .containereleven{
        display: flex;
        flex-direction: column;
        height: 800px;
    }
    .eleven-1{
        order: 2;
        width: 100%;
    }
    .eleven-2{
        order: 1;
        height: 30%;
        width: 100%;
    }
    .eleven-2 h3{
        padding-top: 0;
    }
    .eleven-2 p{
        width: 80%;
    }
    .containersix{
        display: flex;
        width: 100%;
    }
    .six-1{
        width: 50%;
    }
    .six-1 button{
        margin-top: 10px;
    }
    .containereight{
        flex-direction: column;
        display: flex;
        
        width: 100%;
        height: 400px;
    }
    .eight-1{
        width: 100%;
        height: 45%;
    }
    .eight-1-1{
        width: 40%;
    }
    .eight-1-1 img{
        width: 80%;
        margin-top: 0px;
    }
    .eight-1-2 h1{
        margin-top: 0;
    }
    .eight-1-2 img{
        margin-top: 0px;
    }
    .eight-1-2 p{
        height: 120px;
    }
    .eight-2{
        width: 100%;
        height: 45%;
        margin-left: 20px;
    }
    .eight-2-1{
        width: 40%;
    }
    .eight-2-1 img{
        width: 70%;
        margin-top: 0px;
    }
    .eight-2-2 h1{
        margin-top: 0px;
    }
    .eight-2-2 img{
        margin-top: 0px;
    }
    .containertwelve{
        width: 100%;
        margin-left: 20px;
        height: 180px;
    }
    .twelve-1-1{
        width: 40%;
    }
    .twelve-1-1 img{
        margin-top: 0px;
        width: 80%;
    }
    .twelve-1-2 h1{
        margin-top: 0px;
    }
    .containerthirteen{
        display: flex;
        flex-direction: column;
        height: 370px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        background-image: url(New\ Project.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .thirteen-2 input{
        width: 90%;
    }
    .block-3 h1{
        width: 74%;
    }
    .block-3 .input{
        width: 80%;
    }
    .block-3-1{
        display: flex;
        justify-content: center;
    }
 }
    
 
 